<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all" />
  <link rel="shortcut icon" href="/static/assets/img/marduk-logo.png" type="image/png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/assets/css/main.min.css?1">
  {% if title %}
  <title>{{title}} - Marduk</title>
  {% else %}
  <title>Marduk</title>
  {% endif %}
  {% if description %}
  <meta name="description" content="{{description}}">
  {% else %}
  <meta name="description" content="Marduk">
  {% endif %}
</head>
<body>
  {% for category, message in get_flashed_messages(with_categories=true) %}
    <spam class="{{ category }}">{{ message }}</spam>
  {% endfor %}
  <main>
    {% block content %}{% endblock %}
  </main>
  <script src="/static/assets/js/vendor/modernizr-3.8.0.min.js"></script>
  <script src="/static/assets/js/vendor/jquery-3.4.1.min.js"></script>
  <script defer src="/static/assets/js/main.js?1"></script>
</body>
</html>
