<header class="header">
	<div class="container">
		<div class="header-block">
			<div class="header-logo">
				<a href="/"><img src="/static/assets/img/marduk-logo.png" alt="Marduk logo" /></a>
			</div>
			<nav class="header-menu">
				<div class="header-ham"><svg ><use xlink:href="/static/assets/img/icons.svg#ham"></use></svg></div>
				<a href="/account/" class="header-user"><svg ><use xlink:href="/static/assets/img/icons.svg#user"></use></svg></a>
			</nav>
		</div>
	</div>
	<nav id="context-menu-header" class="context-menu">
	    <ul class="context-menu__items">
	      	<li class="context-menu__item">
	        	<a href="/account/" class="context-menu__link" data-action="View">My account</a>
	      	</li>
	      	<li class="context-menu__item">
	        	<a href="/auth/logout/" class="context-menu__link" data-action="Edit">Log out</a>
	      	</li>
	    </ul>
	</nav>
</header>
